@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('../fonts/Roboto-Regular.woff') format('woff'); 
}

@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('../fonts/Roboto-Bold.woff') format('woff'); 
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.section__header {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 40px;
  line-height: 39px;
  letter-spacing: .5px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding-left: 15px;
  padding-right: 15px;
}
